<doctype html>
<html>
<head>
 <asset:javascript src="jquery-2.2.0.min.js"/>
</head>
<body>	
<h1>this is my first view</h1>
${products}
<a id="myFirstButton" href ="http://www.google.com"> MyFirstButton</a>
<h1>thats it!</h1>
</body>	
<script>
	$("#myFirstButton").on("click", function(e){
		e.preventDefault();
		console.log("button clicked");
	});
</script>
</html>	